.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("/resources/banner-image.png");
  width: 1320px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
}

.banner-heading {
  color: rgb(214, 199, 199);
  text-align: center;
}

.banner-heading > p {
  font-size: 36px;
}
.banner-heading > h2 {
  font-size: 72px;
  font-weight: 900;
}

.discount {
  color: #f00;
  text-align: center;
  font-size: 88px;
  font-weight: 700;
}
.holiday {
  color: #f00;
  text-align: center;
  font-size: 24px;
}

.deal-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.new-year {
  width: 500px;
  height: 300px;
}

.categories {
  color: black;
  text-align: center;
  font-size: 48px;
  font-weight: 700;
}

.midnight {
  width: 1320px;
  height: 600px;
  background-image: url("/resources/Vectorrr.png");
  margin-top: 50px;
}

.midnight-header {
  color: white;
  font-size: 64px;
  font-weight: 900;
  padding-left: 140px;
  padding-top: 126px;
  padding-bottom: 24px;
}

.midnight-description {
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
  font-weight: 400;
  padding-left: 140px;
  width: 697px;
}

.midnight > button {
  background-color: transparent;
  text-align: center;
  color: white;
  font-weight: bold;
  margin-left: 140px;
}
